{% extends 'main/layers/nav_panel.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}
{% block content %}
	<div class="login-container">
		<div class="flex-container">
		    {% if form.errors %}
	        <p class="error mb-25">Your username and password didn't match. Please try again.</p>
		    {% endif %}	
		</div>
		<div class="flex-container login-content">
			<form method="post">
				{% csrf_token %}
				<div class="card-row mb-15 gray">
					<div>Имя пользователя:</div>
					<div class="content-end">{{ form.username }}</div>
				</div>
				<div class="card-row mb-25">
					<div>Пароль:</div>
					<div class="content-end">{{ form.password }}</div>
				</div>
				<div>{{ el.errors }}</div>
			    <input class="filter-btn" type="submit" value="Войти">
			</form>
		</div>
	</div>
{% endblock %}
