{% extends 'main/layers/base.html' %}
{% load static %}

{% block title %}
Календарь
{% endblock %}

{% block content %}
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Предыдущий месяц </a>
	<a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Следующий месяц </a>
	<a class="btn btn-info right" href="{% url 'create_workgroup' %}"> Новое событие </a>
	<a class="btn btn-info right" href="{% url 'home' %}"> На главную </a>
</div>

{{ calendar }}
{% endblock %}