{% extends 'main/layers/nav_panel.html' %}
{% load static %}

{% block title %}Реестр{% endblock %}

{% block content %}
<div class="option-menu-container">
	<form method="post">
		{% csrf_token %}
		<div class="option-menu-content">
			<label class="mb-5" for="state">Округ</label>
			<select class="mb-15" name="state" id="state">
				<option>ЮАО</option>
				<option>ЗАО</option>
				<option>САО</option>
				<option>ВАО</option>
			</select>

			<label for="min_area">Мин площадь:</label>
			<input type="text" name="min_area">
			<label for="max_area">Макс площадь:</label>
			<input type="text" name="max_area">



			<label class="mb-5" for="type">Тип объекта</label>
			<select class="mb-15" name="type" id="type">
				<option>Жилой</option>
				<option>Нежилой</option>
				<option>Прочее</option>
			</select>

			<label class="mb-5" for="status">Состаяние объекта</label>
			<select class="mb-15" name="status" id="status">
				<option>Хорошее состояние</option>
				<option>Умеренное состояние</option>
				<option>Плохое состояние</option>
			</select>
			<input class="filter-btn" type="submit" value="Показать" name="show-results">
		</div>
	</form>
</div>
<div class="content">
	<table>
		<thead>
		  <tr>
			<th>ID</th>
			<th>Округ</th>
			<th>Район</th>
			<th>Адрес</th>
			<th>Тип</th>
			<th>Состояние</th>
			<th>Площадь</th>
			<th>Владелец</th>
			<th>ПОльзователь</th>
			<th>Изображение</th>
		  </tr>
		</thead>
		<tbody>
		{% for building in buildings %}
		  <tr>
			<td>{{building.objId}}</td>
			<td>{{building.objState}}</td>
			<td>{{building.objDistrict}}</td>
			<td>{{building.objAddress}}</td>
			<td>{{building.objType}}</td>
			<td>{{building.objStatus}}</td>
			<td>{{building.objArea}}</td>
			<td>{{building.objOwner}}</td>
			<td>{{building.objUser}}</td>
			<td><img src={{building.objImage}}></td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
</div>


{% endblock %}
