{% extends 'main/layers/nav_panel.html' %}
{% load static %}

{% block title %}Реестр{% endblock %}

{% block content %}
<div class="option-menu-container">
	<form method="post">
		{% csrf_token %}
		<div class="option-menu-content">
			<label class="mb-5" for="state">Округ</label>
			<select class="mb-15" name="state" id="state">
					
				<option selected hidden disabled>
					Выберите округ
				</option>
				<option>Любой</option>
				<option>ЮАО</option>
				<option>ЗАО</option>
				<option>САО</option>
				<option>ВАО</option>
			</select>
			<label class="mb-5" for="min_area">Мин. площадь:</label>
			<input class="mb-15" type="text" name="min_area" placeholder="Введите число">
			<label class="mb-5" for="max_area">Макс. площадь:</label>
			<input class="mb-15" type="text" name="max_area" placeholder="Введите число">
			<label class="mb-5" for="type">Тип объекта</label>
			<select class="mb-15" name="type" id="type">
				<option selected hidden disabled>
					Выберите тип объекта
				</option>
				<option>Любое</option>
				<option>Жилой</option>
				<option>Нежилой</option>
				<option>Прочее</option>
			</select>
			<label class="mb-5" for="status">Состаяние объекта</label>
			<select class="mb-25" name="status" id="status">
				<option selected hidden disabled>
					Выберите состояние объекта
				</option>
				<option>Любое</option>
				<option>Хорошее состояние</option>
				<option>Умеренное состояние</option>
				<option>Плохое состояние</option>
			</select>
			<input class="filter-btn mb-15" type="submit" value="Показать" name="show-results">
			<a href="/" class="reset-btn">Сброс</a>
		</div>
	</form>
</div>
<div class="content">
	{% for el in buildings %}
	<a href="/" class="card">
		<img class="mb-15" src="{{ el.objImage.url }}"/>
		<div class="card-row gray">
			<div>
				Округ:
			</div>
			<div class="content-end">
				{{ el.objState }}
			</div>
		</div>
		<div class="card-row">
			<div>
				Район:
			</div>
			<div class="content-end">
				{{ el.objDistrict }}
			</div>
		</div>
		<div class="card-row gray">
			<div>
				Адрес:
			</div>
			<div class="content-end">
				{{ el.objAddress }}
			</div>
		</div>
		<div class="card-row">
			<div>
				Статус:
			</div>
			<div class="content-end">
				{{ el.objStatus }}
			</div>
		</div>
		<div class="card-row gray">
			<div>
				Владелец:
			</div>
			<div class="content-end">
				{{ el.objOwner }}
			</div>
		</div>
	</a>
	{% endfor %}
</div>
<!--
<div style="display: block;">
	<table>
		<thead>
		  <tr>
			<th>ID</th>
			<th>Округ</th>
			<th>Район</th>
			<th>Адрес</th>
			<th>Тип</th>
			<th>Состояние</th>
			<th>Площадь</th>
			<th>Владелец</th>
			<th>ПОльзователь</th>
			<th>Изображение</th>
		  </tr>
		</thead>
		<tbody>
		{% for building in buildings %}
		  <tr>
			<td>{{building.objId}}</td>
			<td>{{building.objState}}</td>
			<td>{{building.objDistrict}}</td>
			<td>{{building.objAddress}}</td>
			<td>{{building.objType}}</td>
			<td>{{building.objStatus}}</td>
			<td>{{building.objArea}}</td>
			<td>{{building.objOwner}}</td>
			<td>{{building.objUser}}</td>
			<td><img src={{building.objImage}}></td>
		  </tr>
		  {% endfor %}
		</tbody>
	</table>
</div>
-->
{% endblock %}
